@font-face {
  font-family: Whitney;
  src: url(whitney.ttf);
}

body {
  min-height: 100vh;
  min-width: 100%;
  background: #252526;
  background-size: cover;
  color: white;
  overflow: hidden;
  font-family: Whitney;
}

.message {
  background: #1e1e1e;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 87vh;
  max-height: 87vh;
}

#input-message-box {
  position: absolute;
  bottom: 0;
  width: 99%;
  background: #333;
  color: white;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

#input-message {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
}

#user-list,
#server-list,
#channel-list {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#channel {
  padding: 0;
  margin: 0;
  min-height: 100vh !important;
  position: relative;
}

#user-list {
  padding: 10px;
}

#server-list {
  background: #333333;
}

#channel-header {
  font-family: "Roboto", sans-serif;
  background: #252526;
  padding: 1%;
  min-height: 5vh;
}

#channel-topic {
  color: white;
  font-size: 1.3rem;
  margin-left: 5%;
}

#channel-title {
  font-size: 1.5rem;
  margin-left: 2%;
}

.column,
.columns {
  margin: 0;
}

.new-message {
  width: 100%;
  min-height: 50px;
  margin-left: 20px;
  padding: 10px;
  border-bottom: 1px solid #42464d;
  box-sizing: content-box;
  display: block;
}

.new-message-name {
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
}

.new-message-message {
  font-weight: lighter;
  display: block;
}

.new-message-time {
  font-size: 0.8rem;
  color: #51565e;
  margin-left: 5px;
}

.list-group-item {
  width: 100%;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
}

.list-group-item:hover {
  background-color: #373a41;
  color: white;
}

.active {
  background-color: #43464e;
  color: white;
}

#unjoined-channel {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -2;
}